@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Mooli');
@import url('https://fonts.googleapis.com/css?family=Bungee Spice');
@import url('https://fonts.googleapis.com/css?family=Foldit');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Poppins;
/*overflow: hidden;*/
}
.header{
width: 100%;
height: 50px;
display: flex;
background-color: rgba(4, 2, 94, 0.986);
align-items: center;
justify-content:space-between;
padding: 0% 5%;
}
.logo h2{
font-family: Mooli;
font-size: 28px;
color: blanchedalmond;
}
.nav{
display: flex;
gap:30px;
}
.nav a{
text-decoration: none;
color: white;
font-weight: 800;
font-size: 18px;
transition: ease 0.4s;
font-family: Mooli;
}
.nav a:hover{
color: aqua;
cursor: pointer;
}
.actions a{
background: transparent;
color: white;
text-decoration: none;
border: 2px solid white;
padding: 8px 20px;
transition: ease 0.4s;
font-weight: 700;
font-family: Mooli;
/*overflow: show;*/
}
.actions a:hover{
background: white;
cursor: pointer;
color: gray;
}
.background{
width: 100%;
height: 650px;
}
.background video{
width: 100%;
height: 100%;
object-fit: cover;
}
#login{
display: none;
}
#login:target{
position: absolute;
right: 1%;
top: 20%;
width: 300px;
height: 350px;
background: white;
border-radius: 10px;
box-shadow: 5px 8px 12px rgb(46, 45, 45);
display: block;
padding: 20px;
transition: ease-out 0.2s;
animation: anim linear alternate 0.4s;
}
@keyframes anim{
from{
/*transform: translateY(200px);
opacity:0.4;
transform: scale(0.4);*/
transform: rotate(0deg);
}
to{
/*transform:translateY(0px) ;
opacity: 1;
transform: scale(1);*/
transform: rotate(359deg);
}
}
#login h2{
font-family: Mooli;
text-align: center;
padding: 10px;
}
#login .input-field{
display: block;
padding: 10px;
}
.input-field label{
font-size: 14px;
font-weight: 700;
}
.input-field input{
border: none;
background: rgb(190, 187, 187);
outline: none;
width: 257px;
padding: 8px;
border-radius: 5px;
transition: ease 0.4s;
}
.input-field input:focus{
box-shadow: 0px 0px 8px grey;
background: transparent;
}
.btn{
text-align: center;
padding: 10px;
}
.btn button{
width: 80%;
padding: 8px;
border: none;
outline: none;
background: goldenrod;
color: white;
font-size: 15px;
font-weight: 600;
border-radius: 5%;
margin-top:
10px;
}
.btn button:hover{
transform: scale(1.07);
cursor: pointer;
}
#register{
display: none;
}
#register:target{
position: absolute;
right: 1%;
top: 15%;
width: 320px;
height: 510px;
background: white;
border-radius: 10px;
box-shadow: 5px 8px 12px rgb(46, 45, 45);
display: block;
padding: 20px;
transition: ease-out 0.2s;
animation: anim linear alternate 0.4s;
}
#register h2{
font-family: Mooli;
text-align: center;
padding: 5px;
}
#register .input-field1{
display: block;
padding: 10px;
}
.input-field1 label{
font-size: 14px;
font-weight: 700;
}
.input-field1 input{
border: none;
background: rgb(190, 187, 187);
outline: none;
width: 257px;
padding: 5px;
border-radius: 5px;
transition: ease 0.4s;
}
.input-field1 input:focus{
box-shadow: 0px 0px 8px gray;
background: transparent;
}
